.a {
  margin: 30px;
}
.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(89, 86, 85);
  margin-bottom: 20px;
}
.ul,.container{
  padding: 20px;
}